<%= content_for :middle do %>
<a href="/logout"><button type="button" name="logout">Logout</button></a>
<!-- <%= params[:id] %> -->
<h1><%= @message.message %></h1>
<h3>Posted by ~ <%= @message.user.first_name %> <%= @message.user.last_name %></h2>
<h3>Date Posted ~ <%= @message.created_at %></h2>
<a href="/messages">Back to all Messages</a>
<div id="comment_display">
  <h2>Comments</h2>
  <% if @comments.present? %>
    <% @comments.reverse.each do |c| %>
      <div class="message_holder">
        <p><h3><%= c.comment %></h3></p>
        <p><span style="color: red;font-weight: bold;"><%= c.user.first_name%> <%= c.user.last_name%></span> <%= c.created_at%></p>
      </div>
    <% end %>
  <% end %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p id="error"><%= e %></p>
    <% end %>
  <% end %>
  <form action = "/comments" method = "post">
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <input type = 'hidden' name = "comment[message_id]" value = "<%= params[:id]%>">
    <textarea name="comment[comment]" rows="8" cols="80"></textarea>
    <input type = "submit" value = "Post a Comment">
  </form>
</div>
<% end %>
